/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b; /* Dark background color */
    color: #d0d0d0; /* Light text color */
    padding: 10px 30px;
  }
  
  .logo img {
    height: 40px;
    width: 40px;
  }
  
  .nav-links span{
    cursor: pointer;
    font-size: large;
    width: 500px;
    justify-content: space-between;
    text-decoration: none;
    color: #d0d0d0;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  
  .nav-links span:hover {
    color: #ffffff; /* Hover color for the links */
  }
  .profile span {
    cursor: pointer;
    color: #ffffff; /* Hover color for the links */
  }
  .profile span:hover {
    color:  #ffffff ;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 250px;
  }
  
  .profile img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  